<div class="h-cont">
    <header>
        <div class="logo">Biblioteca</div>
        <input type="checkbox" id="nav_check" hidden>
        <nav>
            <ul>
                <li>
                    <a href="" class="active">Inicio</a>
                </li>
                <li>
                    <a routerLink="/Profile">Perfil</a>
                </li>
                <li>
                    <a routerLink="/Login">Login</a>
                </li>
                <li class="icon-ocul">
                    <a (click)="op.toggle($event)"><i class="fas fa-bell mar" style="font-size: 1.5rem;" pBadge
                            [value]="userNoti.length.toString()"></i></a>
                </li>
                <p-overlayPanel #op>
                    <div *ngIf="!hayNotificaciones()">
                        <img src="../../../assets/pictures/noNotification.svg" />
                        <p>No tienes notificaciones pendientes</p>
                    </div>
                    <div *ngFor=" let noti of userNoti ; let index = index" class="noti-cont" [class]="esvisto">
                        <small>
                            <strong>
                                <i class="fas fa-book"> </i>
                                {{ noti.titulo }}
                            </strong>
                        </small>
                        <small>{{noti.mensaje}}</small>
                        <div class="flex">
                            <small class="derecha"> <strong> {{noti.fecha}} </strong></small>
                            <i (click)="deleteNoti(index)" class="fas fa-times icon-red"></i>
                        </div>
                    </div>
                    <hr />

                    <p-button [label]="labelbtn()" icon="fas fa-eye" (onClick)="marcarVisto()"></p-button>
                </p-overlayPanel>
            </ul>
        </nav>
        <li class="icon-notifig">
            <a (click)="op.toggle($event)"><span class="ocul">Notificaciones</span> <i class="fas fa-bell mar"
                    style="font-size: 1.5rem;" pBadge [value]="userNoti.length.toString()"></i></a>
        </li>
        <label for="nav_check" class="hamburger">
            <div></div>
            <div></div>
            <div></div>
        </label>
    </header>
    <div class="ban">
        <div class="fondo-opaco"></div>
        <div class="text-cont">

            <h2>“Una biblioteca no es un lujo, sino una de las necesidades de la vida”.</h2>
            <small><strong>Henry Ward Beecher</strong></small>
        </div>
    </div>
</div>


<div class="search-cont">
    <div class="search">
        <p-inputGroup>
            <input (input)="onFilter()" [(ngModel)]="busqueda" type="text" pInputText placeholder="Buscar" />
            <button type="button" pButton icon="fas fa-search"></button>
        </p-inputGroup>
    </div>
</div>

<app-resultados [librosIn]="librosfil"></app-resultados>

<app-footer />