<div class="h-cont">
    <header>
        <div class="logo">Biblioteca</div>
        <input type="checkbox" id="nav_check" hidden>
        <nav>
            <ul>
                <li>
                    <a href="" class="active">Inicio</a>
                </li>
                <li>
                    <a routerLink="/Profile">Perfil</a>
                </li>
                <li>
                    <a routerLink="/Login">Login</a>
                </li>
            </ul>
        </nav>
        <label for="nav_check" class="hamburger">
            <div></div>
            <div></div>
            <div></div>    
        </label>
    </header>
    <div class="ban">
        <div class="fondo-opaco"></div>
        <h1 class="title">
            Sistema de gestión de biblioteca
        </h1>
    </div>
</div>

<p-button label="Check" icon="fas fa-lock"></p-button>

