<p-toast />
<div class="cont-res">
    <div *ngFor="let libro of librosIn ; let index = index" class="card">
        <div class="flex1">
            <img *ngIf="libro.urlimage" [src]=" libro.urlimage">
            <img *ngIf="!libro.urlimage"
                src="https://media.istockphoto.com/id/1094620944/es/vector/cubierta-de-libro.jpg?s=612x612&w=0&k=20&c=lfplBYn8vKNWUbu-g9eEhwH9atP--ciMw8LXD8hlA54=">
            <div>
                <p><strong>{{ libro.nombreLibro }}</strong></p>
                <p> <i class="fas fa-user"></i> {{libro.autorLibro}}</p>
                <div class="flex">
                    <p> <i class="fas fa-calendar-week"></i> {{libro.anioPublicacion}}</p>
                    <p-tag severity="warning" [value]="libro.nombreCategoria"></p-tag>
                    <p-tag [severity]="estadisponible(libro.ejemplaresDisponible) ? 'success':'danger' "
                        [value]="estadisponible(libro.ejemplaresDisponible) ? 'Disponible':'No disponible'"></p-tag>
                </div>
                <div class="flex">
                    <p> <i class="fas fa-keyboard"></i> {{libro.editorialLibro}}</p>
                </div>
            </div>
        </div>
        <div class="flex mt">
            <span>
                <i (click)="libroFavorito(index, libro.nombreLibro)" [class]="esFavorito(index) ? 'fas fa-bookmark':'far fa-bookmark' " class="text-amarillo"> </i>
            </span>
            <p-button (onClick)="solicitudPrestamo(index)" label="Reservar" [disabled]="!estadisponible(libro.ejemplaresDisponible)" icon="fas fa-book" size="small"></p-button>
        </div>
    </div>
</div>