<p-toast/>
<div class="cont-res">
    <div *ngFor="let libro of librosIn" class="card">
        <img
            src="https://img2.freepnges.com/20180317/ouw/kisspng-book-cover-clip-art-exotic-animal-cliparts-5aad2ccc4df374.1201830915212986363193.jpg">
        <p><strong>{{ libro.nombreLibro }}</strong></p>
        <div class="flex">
            <p> <i class="fas fa-user"></i> {{libro.autorLibro}}</p>
            <p> <i class="fas fa-calendar-week"></i> {{libro.anioPublicacion}}</p>
        </div>
        <div class="flex">
            <p> <i class="fas fa-keyboard"></i> {{libro.editorialLibro}}</p>
            <p>{{libro.nombreCategoria}}</p>
        </div>
        <div class="flex">
            <span>
                <i (click)="agregarFavorito(libro.nombreLibro)"  [class]="favoritoClass" class="text-amarillo" > </i>
            </span>
            <p-button [label]="estadisponible( libro.idLibro, libro.ejemplaresDisponible)"
                icon="fas fa-book" size="small"></p-button>
        </div>
    </div>
</div>